[user]
	email = iceice666@outlook.com
	name = iceice666
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
  template = ~/.gitmessage
[safe]
	directory = /opt/flutter
