

**/target
.bash_history
.bash_logout
.bash_profile
.cache
.cargo
.config/BetterDiscord
.config/BetterDiscord Installer
.config/QtProject.conf
.config/WebCord
.config/autostart
.config/brinkervii/grapejuice
.config/browsh
.config/btop
.config/cef_user_data/Dictionaries
.config/dconf
.config/discord
.config/fcitx/dbus
.config/fcitx5
.config/hmcl
.config/hypr/local.conf
.config/ibus
.config/kdeglobals
.config/kolourpaintrc
.config/lazygit
.config/lutris
.config/menus/applications-merged
.config/netcitadel.com
.config/obs-studio
.config/pavucontrol.ini
.config/pulse
.config/qt5ct
.config/r2modman
.config/r2modmanPlus-local
.config/rncbc.org
.config/sunshine
.config/systemd/user
.config/user-dirs.dirs
.config/user-dirs.locale
.config/waybar/scripts/result.json
.config/yay
.enhancd
.game
.games
.gnupg
.gradle
.hyprland
.java/fonts/1.8.0_362
.java/fonts/11.0.18
.java/fonts/17.0.6
.local/bin/.hmcl.json
.local/bin/gpustat
.local/bin/pyroute2-cli
.local/bin/pyroute2-dhcp-client
.local/bin/pyroute2-test-platform
.local/bin/ss2
.local/bin/vdb
.local/bin/viztracer
.local/bin/vizviewer
.local/lib/
.local/share/RecentDocuments
.local/share/Steam
.local/share/anime-game-launcher
.local/share/applications
.local/share/desktop-directories
.local/share/fcitx5/rime/array30.dict.yaml
.local/share/fcitx5/rime/array30.schema.yaml
.local/share/fcitx5/rime/array30_emoji.dict.yaml
.local/share/fcitx5/rime/array30_main.dict.yaml
.local/share/fcitx5/rime/array30_phrases.dict.yaml
.local/share/fcitx5/rime/array30_query.dict.yaml
.local/share/fcitx5/rime/array30_query.schema.yaml
.local/share/fcitx5/rime/array30_wsymbols.dict.yaml
.local/share/fcitx5/rime/array30_wsymbols.schema.yaml
.local/share/fcitx5/rime/emoji_suggestion.yaml
.local/share/fcitx5/rime/installation.yaml
.local/share/fcitx5/rime/luna_pinyin.userdb
.local/share/fcitx5/rime/opencc
.local/share/fcitx5/rime/terra_pinyin.userdb
.local/share/flatpak
.local/share/grapejuice
.local/share/hmcl
.local/share/icons
.local/share/icons/hicolor
.local/share/lutris
.local/share/mime
.local/share/multimc
.local/share/nvim
.local/share/ranger/bookmarks
.local/share/ranger/history
.local/share/ranger/tagged
.local/share/recently-used.xbel
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
.local/share/vulkan/implicit_layer.d
.local/state
.mcserver
.minecraft
.mozilla/firefox
.npm
.openjfx
.pki
.python_history
.rustup
.ssh
.steam
.steampath
.steampid
.var/app/moe.launcher.an-anime-game-launcher
.wget-hsts
.wine
.yarnrc
.zcompdump
.zplug
Downloads
Installer
build
game
go
project
project
steam.desktop
.config/cef_user_data/Dictionaries
.local/share/Steam
.local/share/anime-game-launcher
.local/share/flatpak
.local/share/icons
.local/share/vulkan/implicit_layer.d
**/target
.config/Valve Corporation
.local/share/Valve Corporation/SteamLink
.pulse-cookie
