*

!.config/hypr
!.config/kitty
!.config/eww
!.config/nvim
!bin
!.local/share/fonts
!.local/share/fcitx5/rime/user.yaml
!.bashrc
!.gitmodules
!.p10k.zsh
!.zshenv
!.zshrc
!README.md
!makefile
!.xinitrc
