.cache
.npm
.ssh
go
.wget-hsts
.bash_history
.bash_logout
.bash_profile
.config/btop
.config/lazygit
.mozilla/firefox
.config/fcitx/dbus
.config/fcitx5
.config/ibus
.config/yay
.zplug
.python_history
.mozilla/firefox/Crash Reports
.zcompdump
.hyprland
Downloads
build
.config/BetterDiscord Installer
.config/brinkervii/grapejuice
.config/discord
.config/qt5ct
.config/user-dirs.dirs
.config/user-dirs.locale
.pki/nssdb
.wine
.yarnrc
.config/dconf
.enhancd
.config/obs-studio
.config/pulse
.config/rncbc.org
.config/systemd/user
.java/fonts/17.0.6
.local/lib/
.local/share/grapejuice
.local/share/multimc
.local/share/nvim
.local/state
.config/WebCord
.config/hmcl
.config/QtProject.conf
.gradle
.java/fonts/11.0.18
.local/share/hmcl
.openjfx
tmp.png
.minecraft
.local/share/fcitx5/rime/installation.yaml
.local/share/fcitx5/rime/terra_pinyin.userdb
.local/share/fcitx5/rime/luna_pinyin.userdb
.local/share/recently-used.xbel
.minecraft
.mcserver
.config/browsh
.config/lutris
.config/menus/applications-merged
.config/netcitadel.com
.java/fonts/1.8.0_362
.local/share/lutris
.local/share/mime
.program/practice
.games
.local/share/applications
.local/share/desktop-directories
.local/share/icons/hicolor
.cargo
.local/bin/ss2
.local/bin/pyroute2-test-platform
.local/bin/pyroute2-dhcp-client
.local/bin/pyroute2-cli
.local/bin/.hmcl.json
.rustup
.local/bin/gpustat
.config/autostart
.config/waybar/scripts/result.json
.local/bin/vizviewer
.local/bin/viztracer
.local/bin/vdb
.config/pavucontrol.ini
.config/kolourpaintrc
.config/kdeglobals
.local/share/RecentDocuments
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
project/learning_rust
.enhancd
.config/hypr/local.conf
