[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:iceice666/nvim.git
[submodule ".config/BetterDiscord"]
	path = .config/BetterDiscord
	url = git@github.com:iceice666/betterdc-plugins.git
