
// ref: https://github.com/catppuccin/catppuccin
$theme-rosewater:  #f5e0dc ;
$theme-flamingo :  #f2cdcd ;
$theme-pink     :  #f5c2e7 ;
$theme-mauve    :  #cba6f7 ;
$theme-red      :  #f38ba8 ;
$theme-maroon   :  #eba0ac ;
$theme-peach    :  #fab387 ;
$theme-yellow   :  #f9e2af ;
$theme-green    :  #a6e3a1 ;
$theme-teal     :  #94e2d5 ;
$theme-sky      :  #89dceb ;
$theme-sapphire :  #74c7ec ;
$theme-blue     :  #89b4fa ;
$theme-lavender :  #b4befe ;
$theme-text     :  #cdd6f4 ;
$theme-subtext1 :  #bac2de ;
$theme-subtext0 :  #a6adc8 ;
$theme-overlay2 :  #9399b2 ;
$theme-overlay1 :  #7f849c ;
$theme-overlay0 :  #6c7086 ;
$theme-surface2 :  #585b70 ;
$theme-surface1 :  #45475a ;
$theme-surface0 :  #313244 ;
$theme-base     :  #1e1e2e ;
$theme-mantle   :  #181825 ;
$theme-crust    :  #11111b ;


.fg-rosewater { color:#f5e0dc ;}
.fg-flamingo  { color:#f2cdcd ;}
.fg-pink      { color:#f5c2e7 ;}
.fg-mauve     { color:#cba6f7 ;}
.fg-red       { color:#f38ba8 ;}
.fg-maroon    { color:#eba0ac ;}
.fg-peach     { color:#fab387 ;}
.fg-yellow    { color:#f9e2af ;}
.fg-green     { color:#a6e3a1 ;}
.fg-teal      { color:#94e2d5 ;}
.fg-sky       { color:#89dceb ;}
.fg-sapphire  { color:#74c7ec ;}
.fg-blue      { color:#89b4fa ;}
.fg-lavender  { color:#b4befe ;}
.fg-text      { color:#cdd6f4 ;}
.fg-subtext1  { color:#bac2de ;}
.fg-subtext0  { color:#a6adc8 ;}
.fg-overlay2  { color:#9399b2 ;}
.fg-overlay1  { color:#7f849c ;}
.fg-overlay0  { color:#6c7086 ;}
.fg-surface2  { color:#585b70 ;}
.fg-surface1  { color:#45475a ;}
.fg-surface0  { color:#313244 ;}
.fg-base      { color:#1e1e2e ;}
.fg-mantle    { color:#181825 ;}
.fg-crust     { color:#11111b ;}

.bg-rosewater { background-color:#f5e0dc ;}
.bg-flamingo  { background-color:#f2cdcd ;}
.bg-pink      { background-color:#f5c2e7 ;}
.bg-mauve     { background-color:#cba6f7 ;}
.bg-red       { background-color:#f38ba8 ;}
.bg-maroon    { background-color:#eba0ac ;}
.bg-peach     { background-color:#fab387 ;}
.bg-yellow    { background-color:#f9e2af ;}
.bg-green     { background-color:#a6e3a1 ;}
.bg-teal      { background-color:#94e2d5 ;}
.bg-sky       { background-color:#89dceb ;}
.bg-sapphire  { background-color:#74c7ec ;}
.bg-blue      { background-color:#89b4fa ;}
.bg-lavender  { background-color:#b4befe ;}
.bg-text      { background-color:#cdd6f4 ;}
.bg-subtext1  { background-color:#bac2de ;}
.bg-subtext0  { background-color:#a6adc8 ;}
.bg-overlay2  { background-color:#9399b2 ;}
.bg-overlay1  { background-color:#7f849c ;}
.bg-overlay0  { background-color:#6c7086 ;}
.bg-surface2  { background-color:#585b70 ;}
.bg-surface1  { background-color:#45475a ;}
.bg-surface0  { background-color:#313244 ;}
.bg-base      { background-color:#1e1e2e ;}
.bg-mantle    { background-color:#181825 ;}
.bg-crust     { background-color:#11111b ;}
