.mainbar {
    font-family: DaddyTimeMono Nerd Font;
    font-size: 17px;
    text-shadow: none;
   color: #aaccfd;
  background: transparent;

}


.sysinfo {
  color: #ddaaff
}

.battery {
  color: #b3aaff;
}

.selected  {
  color: #aaffdd;
  font-weight: bold;
}

.option:hover {
  color: #ffaadd;
  font-weight: bold;
  background-color: rgba(10,10,100,0.2);
}


.clock {
  color: #ffddaa;
}

.title {
  color: #ffaa99;
  font-weight:bold;
}
