.mainbar {
    font-family: DaddyTimeMono Nerd Font;
    font-size: 17px;
    text-shadow: none;
   color: #aaccfd;
  background: transparent;

}

button {
    animation: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.sysinfo {
  color: #ddaaff
}

.battery {
  color: #b3aaff;
}

.soundsystem{
    .current {
      color: #aaffdd
    }
  }





.clock {
  color: #ffddaa;
}

.title {
  color: #ff99bb;
  font-weight:bold;
}
