{{#themegen
let local.tg_001 = alpha(color.dark.surface_container_low, 0%, rgba)
let local.tg_002 = alpha(color.dark.outline, 34%, rgba)
let local.tg_003 = alpha(color.dark.surface_container_low, 90%, rgba)
let local.tg_004 = alpha(color.dark.surface_container_high, 96%, rgba)
let local.tg_005 = alpha(color.dark.surface_container, 94%, rgba)
}}
$background: {{local.tg_001}};
$critical: {{color.dark.error}};
$foreground: {{color.dark.on_surface}};
$foregroundDim: {{color.dark.on_surface_variant}};
$onCritical: {{color.dark.on_error}};
$onPrimary: {{color.dark.on_primary}};
$outline: {{local.tg_002}};
$primary: {{color.dark.primary}};
$success: {{base16.dark.base0B}};
$surface: {{local.tg_003}};
$surfaceActive: {{local.tg_004}};
$surfaceContainer: {{local.tg_005}};
$surfaceHover: {{local.tg_005}};
$warning: {{base16.dark.base0A}};
