@import './color.scss';

* { all: unset; }

.bar{
  font-size: 16px;
  font-family: DaddyTimeMono Nerd Font;
  color: rgba($theme-text, 0.8);
  background-color: $theme-base;
}

calendar {
  background-color: $theme-base;
  border: 1px solid $theme-overlay2;
  border-radius: 4px;
}

button{
    padding: 0em 0.4em;
    border-radius: 0.1em;
  
    &:hover {
      transition: 200ms linear background-color, border-radius;
      background-color: rgba($theme-overlay2, 0.6);
    }

    &.powerbtns_confirm {
      font-size: 1.2em;
      font-weight: bold;
      color: $theme-red;
    }

    &.add-btn {

      font-size: 1.4em; 

      &:hover {
        color: $theme-green;
      }
  }

  }

.clock-box {
  color: $theme-pink;
}

.battery-box {
  color: $theme-green;
}

.battery-low {
  color: $theme-red;
  font-weight: bold;
}

.workspace{
  font-weight: bold;
}
.current-ws {
  color: $theme-blue;
}

.power-box {
  font-size: 1.4em;
  button {
    padding-right: 0.5em;
  }



  
}

.sep {
  font-size: 1em;
  padding-top: 0.15em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-weight: 400;
}




