* {
    border: none;
    font-family: DaddyTimeMono Nerd Font;
    font-size: 17px;
    min-height: 0;
  border-radius: 0px;
}

#custom-sink-switch,
#custom-updates,
#custom-weather,
#custom-icon,
#window
#clock,
#cpu,
#memory,
#pulseaudio,
#workspaces,
#tray,
#clock,
#window,
#network,
#pulseaudio,
#pulseaudio.microphone{
  padding: 2px 4px;
    background:  #1b1b25;
  color: #aaccfd;
}

window#waybar {
  background: transparent;
}
window > box {
margin: 2px;
}

tooltip {
    background: rgba(0,0,0,0.9);
}

#window {
  color: #ff99bb;
  font-weight:bold;

}

#workspaces button{
    background: transparent;
  color: #aaccfd;

}

#workspaces button.active {
    color: #a6adc8;
  font-weight:bold;
  border-bottom:2px solid;
}

#workspaces button:hover {
  color: #aaccfd;
  background:#1b3b44;
}

#cpu{
  color: #ffccff;
}
#memory{
  color: #ffccdd;
}

#network {
    color:#ccffee;

}

#clock {
  color: #ff96ff;
}

#clock,
#window{
  border-radius: 0px 10px 10px 0px
}

#custom-icon , 
#pulseaudio{
    border-radius: 10px 0px 0px 10px
}

#pulseaudio.microphone {
    border-radius: 0px 0px 0px 0px
}


