{{#themegen
let local.tg_001 = lightness_add(base16.dark.base0D, 0.18, oklch, hex)
let local.tg_002 = lightness_add(base16.dark.base0D, 0.09, oklch, hex)
let local.tg_003 = lightness_add(base16.dark.base0D, -0.09, oklch, hex)
let local.tg_004 = lightness_add(base16.dark.base0D, -0.18, oklch, hex)
let local.tg_005 = lightness_add(base16.dark.base0B, 0.18, oklch, hex)
let local.tg_006 = lightness_add(base16.dark.base0B, 0.09, oklch, hex)
let local.tg_007 = lightness_add(base16.dark.base0B, -0.09, oklch, hex)
let local.tg_008 = lightness_add(base16.dark.base0B, -0.18, oklch, hex)
let local.tg_009 = lightness_add(base16.dark.base0A, 0.18, oklch, hex)
let local.tg_010 = lightness_add(base16.dark.base0A, 0.09, oklch, hex)
let local.tg_011 = lightness_add(base16.dark.base0A, -0.09, oklch, hex)
let local.tg_012 = lightness_add(base16.dark.base0A, -0.18, oklch, hex)
let local.tg_013 = lightness_add(base16.dark.base09, 0.18, oklch, hex)
let local.tg_014 = lightness_add(base16.dark.base09, 0.09, oklch, hex)
let local.tg_015 = lightness_add(base16.dark.base09, -0.09, oklch, hex)
let local.tg_016 = lightness_add(base16.dark.base09, -0.18, oklch, hex)
let local.tg_017 = lightness_add(base16.dark.base08, 0.18, oklch, hex)
let local.tg_018 = lightness_add(base16.dark.base08, 0.09, oklch, hex)
let local.tg_019 = lightness_add(base16.dark.base08, -0.09, oklch, hex)
let local.tg_020 = lightness_add(base16.dark.base08, -0.18, oklch, hex)
let local.tg_021 = lightness_add(base16.dark.base0E, 0.18, oklch, hex)
let local.tg_022 = lightness_add(base16.dark.base0E, 0.09, oklch, hex)
let local.tg_023 = lightness_add(base16.dark.base0E, -0.09, oklch, hex)
let local.tg_024 = lightness_add(base16.dark.base0E, -0.18, oklch, hex)
let local.tg_025 = lightness_add(color.dark.tertiary, 0.18, oklch, hex)
let local.tg_026 = lightness_add(color.dark.tertiary, 0.09, oklch, hex)
let local.tg_027 = lightness_add(color.dark.tertiary, -0.09, oklch, hex)
let local.tg_028 = lightness_add(color.dark.tertiary, -0.18, oklch, hex)
let local.tg_029 = alpha(color.dark.outline_variant, 50%, rgba)
let local.tg_030 = alpha(color.dark.shadow, 36%, rgba)
let local.tg_031 = alpha(color.dark.shadow, 90%, rgba)
let local.tg_032 = alpha(color.dark.shadow, 25%, rgba)
let local.tg_033 = alpha(color.dark.outline_variant, 42%, rgba)
let local.tg_034 = alpha(color.dark.shadow, 95%, rgba)
let local.tg_035 = alpha(color.dark.on_surface, 38%, rgba)
let local.tg_036 = alpha(color.dark.on_surface_variant, 38%, rgba)
let local.tg_037 = alpha(color.dark.outline, 46%, rgba)
let local.tg_038 = alpha(color.dark.outline_variant, 38%, rgba)
}}
@define-color blue_1 {{local.tg_001}};
@define-color blue_2 {{local.tg_002}};
@define-color blue_3 {{base16.dark.base0D}};
@define-color blue_4 {{local.tg_003}};
@define-color blue_5 {{local.tg_004}};
@define-color green_1 {{local.tg_005}};
@define-color green_2 {{local.tg_006}};
@define-color green_3 {{base16.dark.base0B}};
@define-color green_4 {{local.tg_007}};
@define-color green_5 {{local.tg_008}};
@define-color yellow_1 {{local.tg_009}};
@define-color yellow_2 {{local.tg_010}};
@define-color yellow_3 {{base16.dark.base0A}};
@define-color yellow_4 {{local.tg_011}};
@define-color yellow_5 {{local.tg_012}};
@define-color orange_1 {{local.tg_013}};
@define-color orange_2 {{local.tg_014}};
@define-color orange_3 {{base16.dark.base09}};
@define-color orange_4 {{local.tg_015}};
@define-color orange_5 {{local.tg_016}};
@define-color red_1 {{local.tg_017}};
@define-color red_2 {{local.tg_018}};
@define-color red_3 {{base16.dark.base08}};
@define-color red_4 {{local.tg_019}};
@define-color red_5 {{local.tg_020}};
@define-color purple_1 {{local.tg_021}};
@define-color purple_2 {{local.tg_022}};
@define-color purple_3 {{base16.dark.base0E}};
@define-color purple_4 {{local.tg_023}};
@define-color purple_5 {{local.tg_024}};
@define-color brown_1 {{local.tg_025}};
@define-color brown_2 {{local.tg_026}};
@define-color brown_3 {{color.dark.tertiary}};
@define-color brown_4 {{local.tg_027}};
@define-color brown_5 {{local.tg_028}};
@define-color light_1 {{color.light.surface_bright}};
@define-color light_2 {{color.light.surface}};
@define-color light_3 {{color.light.surface_container}};
@define-color light_4 {{color.light.outline_variant}};
@define-color light_5 {{color.light.outline}};
@define-color dark_1 {{color.dark.outline}};
@define-color dark_2 {{color.dark.surface_container_highest}};
@define-color dark_3 {{color.dark.surface_container}};
@define-color dark_4 {{color.dark.surface}};
@define-color dark_5 {{color.dark.background}};
@define-color accent_color {{color.dark.primary}};
@define-color accent_bg_color {{color.dark.primary}};
@define-color accent_fg_color {{color.dark.on_primary}};
@define-color destructive_color {{color.dark.error}};
@define-color destructive_bg_color {{color.dark.error}};
@define-color destructive_fg_color {{color.dark.on_error}};
@define-color success_color {{base16.dark.base0B}};
@define-color success_bg_color {{base16.dark.base0B}};
@define-color success_fg_color {{color.dark.background}};
@define-color warning_color {{base16.dark.base0A}};
@define-color warning_bg_color {{base16.dark.base0A}};
@define-color warning_fg_color {{color.dark.background}};
@define-color error_color {{color.dark.error}};
@define-color error_bg_color {{color.dark.error}};
@define-color error_fg_color {{color.dark.on_error}};
@define-color window_bg_color {{color.dark.background}};
@define-color window_fg_color {{color.dark.on_surface}};
@define-color view_bg_color {{color.dark.surface}};
@define-color view_fg_color {{color.dark.on_surface}};
@define-color headerbar_bg_color {{color.dark.surface_container}};
@define-color headerbar_fg_color {{color.dark.on_surface}};
@define-color headerbar_border_color {{local.tg_029}};
@define-color headerbar_backdrop_color {{color.dark.surface}};
@define-color headerbar_shade_color {{local.tg_030}};
@define-color headerbar_darker_shade_color {{local.tg_031}};
@define-color sidebar_bg_color {{color.dark.surface_container_low}};
@define-color sidebar_fg_color {{color.dark.on_surface}};
@define-color sidebar_backdrop_color {{color.dark.surface}};
@define-color sidebar_shade_color {{local.tg_032}};
@define-color sidebar_border_color {{local.tg_033}};
@define-color secondary_sidebar_bg_color {{color.dark.surface_container}};
@define-color secondary_sidebar_fg_color {{color.dark.on_surface}};
@define-color secondary_sidebar_backdrop_color {{color.dark.surface_container_low}};
@define-color secondary_sidebar_shade_color {{local.tg_032}};
@define-color secondary_sidebar_border_color {{local.tg_033}};
@define-color card_bg_color {{color.dark.surface_container}};
@define-color card_fg_color {{color.dark.on_surface}};
@define-color card_shade_color {{local.tg_030}};
@define-color dialog_bg_color {{color.dark.surface_container}};
@define-color dialog_fg_color {{color.dark.on_surface}};
@define-color popover_bg_color {{color.dark.surface_container_high}};
@define-color popover_fg_color {{color.dark.on_surface}};
@define-color popover_shade_color {{local.tg_032}};
@define-color thumbnail_bg_color {{color.dark.surface_container_highest}};
@define-color thumbnail_fg_color {{color.dark.on_surface}};
@define-color shade_color {{local.tg_032}};
@define-color scrollbar_outline_color {{local.tg_034}};
@define-color theme_bg_color @window_bg_color;
@define-color theme_fg_color @window_fg_color;
@define-color theme_base_color @view_bg_color;
@define-color theme_text_color @view_fg_color;
@define-color theme_selected_bg_color @accent_bg_color;
@define-color theme_selected_fg_color @accent_fg_color;
@define-color theme_unfocused_bg_color @sidebar_bg_color;
@define-color theme_unfocused_fg_color {{color.dark.on_surface_variant}};
@define-color theme_unfocused_base_color {{color.dark.surface_container_lowest}};
@define-color theme_unfocused_text_color {{color.dark.on_surface_variant}};
@define-color theme_unfocused_selected_bg_color {{color.dark.secondary_container}};
@define-color theme_unfocused_selected_fg_color {{color.dark.on_secondary_container}};
@define-color insensitive_bg_color {{color.dark.surface_container}};
@define-color insensitive_fg_color {{local.tg_035}};
@define-color insensitive_base_color {{color.dark.surface_container_low}};
@define-color unfocused_insensitive_color {{local.tg_036}};
@define-color borders {{local.tg_037}};
@define-color unfocused_borders {{local.tg_038}};
@define-color content_view_bg @view_bg_color;
@define-color text_view_bg @view_bg_color;

:root {
  --accent-bg-color: @accent_bg_color;
  --accent-fg-color: @accent_fg_color;
  --accent-color: @accent_color;
  --destructive-bg-color: @destructive_bg_color;
  --destructive-fg-color: @destructive_fg_color;
  --destructive-color: @destructive_color;
  --success-bg-color: @success_bg_color;
  --success-fg-color: @success_fg_color;
  --success-color: @success_color;
  --warning-bg-color: @warning_bg_color;
  --warning-fg-color: @warning_fg_color;
  --warning-color: @warning_color;
  --error-bg-color: @error_bg_color;
  --error-fg-color: @error_fg_color;
  --error-color: @error_color;
  --window-bg-color: @window_bg_color;
  --window-fg-color: @window_fg_color;
  --view-bg-color: @view_bg_color;
  --view-fg-color: @view_fg_color;
  --headerbar-bg-color: @headerbar_bg_color;
  --headerbar-fg-color: @headerbar_fg_color;
  --headerbar-border-color: @headerbar_border_color;
  --headerbar-backdrop-color: @headerbar_backdrop_color;
  --headerbar-shade-color: @headerbar_shade_color;
  --headerbar-darker-shade-color: @headerbar_darker_shade_color;
  --sidebar-bg-color: @sidebar_bg_color;
  --sidebar-fg-color: @sidebar_fg_color;
  --sidebar-backdrop-color: @sidebar_backdrop_color;
  --sidebar-border-color: @sidebar_border_color;
  --sidebar-shade-color: @sidebar_shade_color;
  --secondary-sidebar-bg-color: @secondary_sidebar_bg_color;
  --secondary-sidebar-fg-color: @secondary_sidebar_fg_color;
  --secondary-sidebar-backdrop-color: @secondary_sidebar_backdrop_color;
  --secondary-sidebar-border-color: @secondary_sidebar_border_color;
  --secondary-sidebar-shade-color: @secondary_sidebar_shade_color;
  --card-bg-color: @card_bg_color;
  --card-fg-color: @card_fg_color;
  --card-shade-color: @card_shade_color;
  --dialog-bg-color: @dialog_bg_color;
  --dialog-fg-color: @dialog_fg_color;
  --popover-bg-color: @popover_bg_color;
  --popover-fg-color: @popover_fg_color;
  --popover-shade-color: @popover_shade_color;
  --thumbnail-bg-color: @thumbnail_bg_color;
  --thumbnail-fg-color: @thumbnail_fg_color;
  --shade-color: @shade_color;
  --scrollbar-outline-color: @scrollbar_outline_color;
  --active-toggle-bg-color: {{color.dark.primary_container}};
  --active-toggle-fg-color: {{color.dark.on_primary_container}};
  --overview-bg-color: {{color.dark.surface_container_low}};
  --overview-fg-color: {{color.dark.on_surface}};
}

tooltip,
tooltip.background {
  background-color: {{color.dark.surface_container_highest}};
  color: {{color.dark.on_surface}};
  border-color: {{color.dark.outline}};
}

tooltip label {
  color: {{color.dark.on_surface}};
}
