@define-color blue_1 {{base16.light.base0D | to_oklch() | lightness_add(0.18) | to_hex()}};
@define-color blue_2 {{base16.light.base0D | to_oklch() | lightness_add(0.09) | to_hex()}};
@define-color blue_3 {{base16.light.base0D}};
@define-color blue_4 {{base16.light.base0D | to_oklch() | lightness_add(-0.09) | to_hex()}};
@define-color blue_5 {{base16.light.base0D | to_oklch() | lightness_add(-0.18) | to_hex()}};
@define-color green_1 {{base16.light.base0B | to_oklch() | lightness_add(0.18) | to_hex()}};
@define-color green_2 {{base16.light.base0B | to_oklch() | lightness_add(0.09) | to_hex()}};
@define-color green_3 {{base16.light.base0B}};
@define-color green_4 {{base16.light.base0B | to_oklch() | lightness_add(-0.09) | to_hex()}};
@define-color green_5 {{base16.light.base0B | to_oklch() | lightness_add(-0.18) | to_hex()}};
@define-color yellow_1 {{base16.light.base0A | to_oklch() | lightness_add(0.18) | to_hex()}};
@define-color yellow_2 {{base16.light.base0A | to_oklch() | lightness_add(0.09) | to_hex()}};
@define-color yellow_3 {{base16.light.base0A}};
@define-color yellow_4 {{base16.light.base0A | to_oklch() | lightness_add(-0.09) | to_hex()}};
@define-color yellow_5 {{base16.light.base0A | to_oklch() | lightness_add(-0.18) | to_hex()}};
@define-color orange_1 {{base16.light.base09 | to_oklch() | lightness_add(0.18) | to_hex()}};
@define-color orange_2 {{base16.light.base09 | to_oklch() | lightness_add(0.09) | to_hex()}};
@define-color orange_3 {{base16.light.base09}};
@define-color orange_4 {{base16.light.base09 | to_oklch() | lightness_add(-0.09) | to_hex()}};
@define-color orange_5 {{base16.light.base09 | to_oklch() | lightness_add(-0.18) | to_hex()}};
@define-color red_1 {{base16.light.base08 | to_oklch() | lightness_add(0.18) | to_hex()}};
@define-color red_2 {{base16.light.base08 | to_oklch() | lightness_add(0.09) | to_hex()}};
@define-color red_3 {{base16.light.base08}};
@define-color red_4 {{base16.light.base08 | to_oklch() | lightness_add(-0.09) | to_hex()}};
@define-color red_5 {{base16.light.base08 | to_oklch() | lightness_add(-0.18) | to_hex()}};
@define-color purple_1 {{base16.light.base0E | to_oklch() | lightness_add(0.18) | to_hex()}};
@define-color purple_2 {{base16.light.base0E | to_oklch() | lightness_add(0.09) | to_hex()}};
@define-color purple_3 {{base16.light.base0E}};
@define-color purple_4 {{base16.light.base0E | to_oklch() | lightness_add(-0.09) | to_hex()}};
@define-color purple_5 {{base16.light.base0E | to_oklch() | lightness_add(-0.18) | to_hex()}};
@define-color brown_1 {{color.light.tertiary | to_oklch() | lightness_add(0.18) | to_hex()}};
@define-color brown_2 {{color.light.tertiary | to_oklch() | lightness_add(0.09) | to_hex()}};
@define-color brown_3 {{color.light.tertiary}};
@define-color brown_4 {{color.light.tertiary | to_oklch() | lightness_add(-0.09) | to_hex()}};
@define-color brown_5 {{color.light.tertiary | to_oklch() | lightness_add(-0.18) | to_hex()}};
@define-color light_1 {{color.light.surface_bright}};
@define-color light_2 {{color.light.surface}};
@define-color light_3 {{color.light.surface_container}};
@define-color light_4 {{color.light.outline_variant}};
@define-color light_5 {{color.light.outline}};
@define-color dark_1 {{color.dark.outline}};
@define-color dark_2 {{color.dark.surface_container_highest}};
@define-color dark_3 {{color.dark.surface_container}};
@define-color dark_4 {{color.dark.surface}};
@define-color dark_5 {{color.dark.background}};
@define-color accent_color {{color.light.primary}};
@define-color accent_bg_color {{color.light.primary}};
@define-color accent_fg_color {{color.light.on_primary}};
@define-color destructive_color {{color.light.error}};
@define-color destructive_bg_color {{color.light.error}};
@define-color destructive_fg_color {{color.light.on_error}};
@define-color success_color {{base16.light.base0B}};
@define-color success_bg_color {{base16.light.base0B}};
@define-color success_fg_color {{color.light.background}};
@define-color warning_color {{base16.light.base0A}};
@define-color warning_bg_color {{base16.light.base0A}};
@define-color warning_fg_color {{color.light.background}};
@define-color error_color {{color.light.error}};
@define-color error_bg_color {{color.light.error}};
@define-color error_fg_color {{color.light.on_error}};
@define-color window_bg_color {{color.light.background}};
@define-color window_fg_color {{color.light.on_surface}};
@define-color view_bg_color {{color.light.surface}};
@define-color view_fg_color {{color.light.on_surface}};
@define-color headerbar_bg_color {{color.light.surface_container}};
@define-color headerbar_fg_color {{color.light.on_surface}};
@define-color headerbar_border_color {{color.light.outline_variant | with_alpha(50%) | to_rgba()}};
@define-color headerbar_backdrop_color {{color.light.surface}};
@define-color headerbar_shade_color {{color.light.shadow | with_alpha(12%) | to_rgba()}};
@define-color headerbar_darker_shade_color {{color.light.shadow | with_alpha(18%) | to_rgba()}};
@define-color sidebar_bg_color {{color.light.surface_container_low}};
@define-color sidebar_fg_color {{color.light.on_surface}};
@define-color sidebar_backdrop_color {{color.light.surface}};
@define-color sidebar_shade_color {{color.light.shadow | with_alpha(7%) | to_rgba()}};
@define-color sidebar_border_color {{color.light.outline_variant | with_alpha(42%) | to_rgba()}};
@define-color secondary_sidebar_bg_color {{color.light.surface_container}};
@define-color secondary_sidebar_fg_color {{color.light.on_surface}};
@define-color secondary_sidebar_backdrop_color {{color.light.surface_container_low}};
@define-color secondary_sidebar_shade_color {{color.light.shadow | with_alpha(7%) | to_rgba()}};
@define-color secondary_sidebar_border_color {{color.light.outline_variant | with_alpha(42%) | to_rgba()}};
@define-color card_bg_color {{color.light.surface_container}};
@define-color card_fg_color {{color.light.on_surface}};
@define-color card_shade_color {{color.light.shadow | with_alpha(7%) | to_rgba()}};
@define-color dialog_bg_color {{color.light.surface_container}};
@define-color dialog_fg_color {{color.light.on_surface}};
@define-color popover_bg_color {{color.light.surface_container_high}};
@define-color popover_fg_color {{color.light.on_surface}};
@define-color popover_shade_color {{color.light.shadow | with_alpha(7%) | to_rgba()}};
@define-color thumbnail_bg_color {{color.light.surface_container_highest}};
@define-color thumbnail_fg_color {{color.light.on_surface}};
@define-color shade_color {{color.light.shadow | with_alpha(7%) | to_rgba()}};
@define-color scrollbar_outline_color {{color.light.on_primary}};
@define-color theme_bg_color @window_bg_color;
@define-color theme_fg_color @window_fg_color;
@define-color theme_base_color @view_bg_color;
@define-color theme_text_color @view_fg_color;
@define-color theme_selected_bg_color @accent_bg_color;
@define-color theme_selected_fg_color @accent_fg_color;
@define-color theme_unfocused_bg_color @sidebar_bg_color;
@define-color theme_unfocused_fg_color {{color.light.on_surface_variant}};
@define-color theme_unfocused_base_color {{color.light.surface_container_lowest}};
@define-color theme_unfocused_text_color {{color.light.on_surface_variant}};
@define-color theme_unfocused_selected_bg_color {{color.light.secondary_container}};
@define-color theme_unfocused_selected_fg_color {{color.light.on_secondary_container}};
@define-color insensitive_bg_color {{color.light.surface_container}};
@define-color insensitive_fg_color {{color.light.on_surface | with_alpha(38%) | to_rgba()}};
@define-color insensitive_base_color {{color.light.surface_container_low}};
@define-color unfocused_insensitive_color {{color.light.on_surface_variant | with_alpha(38%) | to_rgba()}};
@define-color borders {{color.light.outline | with_alpha(46%) | to_rgba()}};
@define-color unfocused_borders {{color.light.outline_variant | with_alpha(38%) | to_rgba()}};
@define-color content_view_bg @view_bg_color;
@define-color text_view_bg @view_bg_color;

:root {
  --accent-bg-color: @accent_bg_color;
  --accent-fg-color: @accent_fg_color;
  --accent-color: @accent_color;
  --destructive-bg-color: @destructive_bg_color;
  --destructive-fg-color: @destructive_fg_color;
  --destructive-color: @destructive_color;
  --success-bg-color: @success_bg_color;
  --success-fg-color: @success_fg_color;
  --success-color: @success_color;
  --warning-bg-color: @warning_bg_color;
  --warning-fg-color: @warning_fg_color;
  --warning-color: @warning_color;
  --error-bg-color: @error_bg_color;
  --error-fg-color: @error_fg_color;
  --error-color: @error_color;
  --window-bg-color: @window_bg_color;
  --window-fg-color: @window_fg_color;
  --view-bg-color: @view_bg_color;
  --view-fg-color: @view_fg_color;
  --headerbar-bg-color: @headerbar_bg_color;
  --headerbar-fg-color: @headerbar_fg_color;
  --headerbar-border-color: @headerbar_border_color;
  --headerbar-backdrop-color: @headerbar_backdrop_color;
  --headerbar-shade-color: @headerbar_shade_color;
  --headerbar-darker-shade-color: @headerbar_darker_shade_color;
  --sidebar-bg-color: @sidebar_bg_color;
  --sidebar-fg-color: @sidebar_fg_color;
  --sidebar-backdrop-color: @sidebar_backdrop_color;
  --sidebar-border-color: @sidebar_border_color;
  --sidebar-shade-color: @sidebar_shade_color;
  --secondary-sidebar-bg-color: @secondary_sidebar_bg_color;
  --secondary-sidebar-fg-color: @secondary_sidebar_fg_color;
  --secondary-sidebar-backdrop-color: @secondary_sidebar_backdrop_color;
  --secondary-sidebar-border-color: @secondary_sidebar_border_color;
  --secondary-sidebar-shade-color: @secondary_sidebar_shade_color;
  --card-bg-color: @card_bg_color;
  --card-fg-color: @card_fg_color;
  --card-shade-color: @card_shade_color;
  --dialog-bg-color: @dialog_bg_color;
  --dialog-fg-color: @dialog_fg_color;
  --popover-bg-color: @popover_bg_color;
  --popover-fg-color: @popover_fg_color;
  --popover-shade-color: @popover_shade_color;
  --thumbnail-bg-color: @thumbnail_bg_color;
  --thumbnail-fg-color: @thumbnail_fg_color;
  --shade-color: @shade_color;
  --scrollbar-outline-color: @scrollbar_outline_color;
  --active-toggle-bg-color: {{color.light.primary_container}};
  --active-toggle-fg-color: {{color.light.on_primary_container}};
  --overview-bg-color: {{color.light.surface_container_low}};
  --overview-fg-color: {{color.light.on_surface}};
}
