{{#themegen
let local.insert_hint = alpha(color.light.primary, 45%, hex)
let local.shadow = alpha(color.light.shadow, 35%, hex)
let local.workspace_shadow = alpha(color.light.shadow, 45%, hex)
}}
layout {
    background-color "{{color.light.background}}"

    focus-ring {
        active-color "{{color.light.primary}}"
        inactive-color "{{color.light.outline}}"
        urgent-color "{{color.light.error}}"
    }

    border {
        active-color "{{color.light.primary}}"
        inactive-color "{{color.light.outline_variant}}"
        urgent-color "{{color.light.error}}"
    }

    shadow {
        color "{{local.shadow}}"
    }

    tab-indicator {
        active-color "{{color.light.primary}}"
        inactive-color "{{color.light.outline_variant}}"
        urgent-color "{{color.light.error}}"
    }

    insert-hint {
        color "{{local.insert_hint}}"
    }
}

overview {
    backdrop-color "{{color.light.surface_container_lowest}}"

    workspace-shadow {
        color "{{local.workspace_shadow}}"
    }
}
